a {
	color: indigo;
}
a:hover {
	text-decoration: none;
	color: blueviolet;
}

h3 {
	margin-top: 90px;
	text-align: center;
}

#start-page {
	text-align: center;
}

/* .hidden {
	display: none;
}
 */
.btn {
	background-color: indigo;
	border: none;
}

.btn:hover,
.btn:focus {
	background-color: blueviolet;
	border: none;
}
